h3{
      	
font-family: American Typewriter;   	
font-style: italic;	
color:white;
}
    
.imgStyle{

padding-bottom: 10%;
border-radius: 10% 10% 10% 10%;
}

h1{
font-family: Monospace;
padding-top: 15px;
padding-bottom: 20px;
padding-left: 40px;
color: white;
}
.btn{
        
border: none;
        
background-color: inherit;
        
font-size: 25px;
        
font-family: New Century Schoolbook;
        
font-weight: bold;
        color: #ffffff;
        
cursor: pointer;
        
display: inline-block;
        
text-shadow: 1px 1px #750093;
        
margin-left: auto;
 		
margin-right: auto;
    
}
    
.btn:hover{
        
background: #eee;
        
color: #000000;
        
text-shadow: 1px 1px #000000;
    
}
    
.btn span{
        
cursor: pointer;
        
display: inline-block;
        
position: relative;
        
transition: 0.5s;
    
}
    
.btn span:after{
        
content: '\00bb';
        
position: absolute;
        
opacity: 0;
        
top: 0;
        
right: -20px;
        
transition: 0.5s;
   
}
    
.btn:hover span {
        
padding-right: 25px;
    
}
    
.btn:hover span:after {
        
opacity: 1;
        
right: 0;
    
}
    
.imgStyle{
      	
padding-top: 50px;

}